<h1>Categories</h1>
<ul>
  <% categories.forEach(category => { %>
    <li>
      <strong><%= category.name %></strong> - <%= category.description %>
      <form action="/categories/<%= category.id %>/delete" method="post">
        <button type="submit">DELETE</button>
      </form>
      
    </li>
  <% }); %>
</ul>

<a href="/categories/newcategories">Create Categories</a>
<a href="/">Back to projects</a>