<h1><%= title %></h1>
 
    <form action="/newproduct" method="POST">

        <label for="name">Product Name: </label>
        <input type="text" name="name" id="name" required>

        

        <label for="description">Product Description: </label>
        <input type="text" name="description" id="description" required>

        <label for="quantity">Quantity: </label>
        <input type="number" name="quantity" id="quantity" required>

        <label for="price" step="0.01">Price: </label>
        <input type="number" name="price" id="price">

        <label for="category_id">Category: </label>
        <select name="category_id" id="category_id" required>
             <% categories.forEach(category => {%>
                <option value="<%= category.id %>"<%= category.name %></option>
             <% }) %>
        </select>
        

        <button type="submit">Submit</button>
    </form>
    
    <a href="/">Back to home</a>